.projects {
  background-color: var(--project);
}
.projects__filter {
  margin-top: 5rem;
}

.projects__filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
}
.projects__filter-link {
  padding: 0.75rem 2rem;
  border-radius: 20px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  transition: 350ms all;
}

.projects__filter-link:hover {
  border-color: transparent;
  background-color: var(--primary-color);
  color: #fff;
}

.projects__filter-link.active {
  border-color: transparent;
  background-color: var(--primary-color);
  color: #fff;
}
.projects__filter-link.active:hover {
  border-color: #1173dc;
  background-color: #1173dc;
  color: #fff;
}

.projects__filter li:not(:last-child) {
  margin-right: 2rem;
}

.showcase {
  margin-top: 5rem;
}
.showcase__project {
  display: inline-block;
  width: 30%;
  margin: 0 10px;
  box-sizing: border-box;
}

.showcase__thumbnail {
  width: 100%;
  cursor: pointer;
  min-height: 21rem;
  max-height: 21rem;
  object-fit: cover;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1);
}
.showcase__title {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
  color: var(--grey-light);
  margin-bottom: 3rem;
}

.project-detail-wrapper {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: 350ms all;
}
.project-detail-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.project-detail {
  display: grid;
  width: 100rem;
  grid-template-columns: repeat(12, 1fr);
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: 3px;
  position: relative;
}

.project-detail__image {
  grid-column: span 7;
  background: #1a416a;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.project-detail__info {
  grid-column: span 5;
}

.project-detail__image img {
  border-radius: 5px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: contain;
  object-position: left;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
}

.project-detail__info {
  padding: 2rem 3rem;
}
.project-detail__info p {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.project-detail__title {
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-detail__description {
  list-style: none;
  line-height: 2;
}
.project-detail__technologies {
  list-style: none;
  display: flex;
}
.project-detail__description li span {
  margin-right: 0.5rem;
}
.project-detail__description li:nth-child(1) span {
  color: #673ab7;
}
.project-detail__description li:nth-child(2) span {
  color: #2196f3;
}
.project-detail__description li:nth-child(3) span {
  color: #36e6a5;
}
.project-detail__description li:nth-child(4) span {
  color: #fa3232;
}
.project-detail__description li:nth-child(5) span {
  color: #3268fa;
}
.project-detail .btn.source {
  margin-right: 2rem;
}
.project-detail__technologies li {
  height: 30px;
  width: 30px;
}
.project-detail__technologies li:not(:last-child) {
  margin-right: 1rem;
}
.project-detail__close {
  position: absolute;
  top: 4%;
  right: 3%;
  font-size: 2rem;
  cursor: pointer;
}
.showcase .gatsby-image-wrapper {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  cursor: pointer;
  height: 20rem;
}
