.scroll-top {
  position: fixed;
  bottom: 10%;
  right: 10%;
  height: 7rem;
  width: 7rem;
  z-index: 1000;
  border-radius: 50%;
  background: #213458;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: none;
}
.scroll-top.active {
  display: flex;
}
.scroll-top__icon {
  height: 2.5rem;
  width: 2.5rem;
}
