.hero-section {
  width: 100vw;
}

.hero-section__logo img {
  height: 6rem;
}
.hero-section__text h2 {
  font-size: 3rem;
  font-weight: 300;
  color: var(--light-black);
}
.hero-section__text p {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
}

.hero-section__text.span-6.center > h2:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(4, 121, 247, 1) 0%,
    rgba(11, 80, 242, 1) 100%
  );
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  width: max-content;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.emphasize {
  font-style: italic;
  font-weight: 400;
  color: #0d60f8;
}
.hero-section__text h2:nth-child(2) {
  font-size: 7rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.hero-section__navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.hero-section__navigation {
  height: 8rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--navbar);
  transition: 350ms all;
  z-index: 10;
}
.hero-section__navigation.active {
  position: fixed;
  width: 100%;
  top: 0;
  transition: 350ms all;
}
.hero-section__menu {
  display: flex;
}
.hero-section__list {
  list-style: none;
}
.hero-section__link {
  text-decoration: none;
  color: var(--grey-dark);
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  padding: 0 1.5rem;
}

.hero-section__link::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -30%;
  left: 0;
  background: var(--primary-color);
  transform: scaleX(0);
  height: 3px;
  transition: 350ms var(--easing);
}
.hero-section__link:hover::before {
  transform: scaleX(1);
}
.hero-section__list:not(:last-child) {
  margin-right: 3rem;
}
.hero-section__content {
  background-color: var(--background);
}

.hero-section__content .container {
  height: calc(100vh - 8rem);
}
.hero-section__content.active {
  margin-top: 8rem;
}

.hero-section__illustration svg {
  width: 100%;
}

.hero-section__text .highlight {
  color: var(--primary-color);
}
.btn {
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border: none;
  display: inline-block;
  background: var(--primary-color);

  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: 350ms all;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-10px) !important;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.13);
}
.btn:active {
  transform: translateY(-3px) !important;
  box-shadow: none;
}

.btn--cv {
  background: linear-gradient(
    90deg,
    rgba(4, 121, 247, 1) 0%,
    rgba(11, 80, 242, 1) 100%
  );
  margin-top: 5rem;
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn--source {
  background-color: #eaf1f8 !important;
  color: #265397;
  display: block;
  margin-top: 5rem;
}
.btn--demo {
  background-color: #265397 !important;
  color: #fff;
  display: block;
  margin-top: 3rem;
}

.hero-section__text,
.hero-section__illustration {
  margin: auto 0;
}

.toggle {
  cursor: pointer;
}
.toggle .line {
  width: 4rem;
  height: 3px;
  background: var(--black);
}
.toggle .line-2 {
  margin: 5px 0;
}
.toggle {
  display: none;
}

/* Toggle animation */

.toggle.active .line-1 {
  animation: animate-line-1 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67) forwards;
}
.toggle.active .line-2 {
  animation: animate-line-2 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67) forwards;
}
.toggle.active .line-3 {
  animation: animate-line-3 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67) forwards;
}

.line-1 {
  animation: animate-line-1-rev 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67);
}

.line-2 {
  animation: animate-line-2-rev 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67);
}
.line-3 {
  animation: animate-line-3-rev 0.7s cubic-bezier(0.59, 0.15, 0.75, 0.67);
}

.no-animation {
  animation: none !important;
}

@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-line-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, -8px, 0) rotate(135deg);
  }
}

@keyframes animate-line-1-rev {
  0% {
    transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-2-rev {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-line-3-rev {
  0% {
    transform: translate3d(0, -8px, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.switcher__wrapper {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--switcher-icon);
}

.info {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.info__list {
  display: flex;
  align-items: center;
  color: var(--light-black);
}
.info svg {
  margin-right: 1rem;
  transition: 350ms all;
}
.info__list:hover svg {
  color: #3a85f6;
}

.info__link {
  text-decoration: none;
  font-weight: 300;
  color: var(--light-black);
}

.info__list:not(:last-child) {
  margin-bottom: 1rem;
}

.social-media {
  list-style: none;
  display: flex;
  margin-top: 4rem;
}
.social-media__list {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms all;
  cursor: pointer;
  border-radius: 5px;
}

.social-media svg {
  width: 24px;
  height: 24px;
  color: var(--light-black);
  transition: 350ms all;
}
.social-media__list:hover {
  background: #007bff;
}
.social-media__list:hover svg {
  color: #fff;
}
.social-media__list:not(:last-child) {
  margin-right: 0.5rem;
}
