:root {
  --primary-color: #265397;
  --grey-light: #6a6e75;
  --grey-dark: #4e4a4a;
  --shadow-text: #817a7a14;
  --easing: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --scrolltop: #213458;
  --white: #fff;
  --black: #000;
  --black-text: #313437;
<<<<<<< HEAD
  --light-black: #343030;
=======
  --light-black: #303445;
>>>>>>> 'commit'
  --navbar: var(--white);
  --hero: var(--white);
  --about: #fcfdff;
  --skill: var(--primary-color);
  --project: var(--white);
  --card-text: #3a3d43;
<<<<<<< HEAD
=======
  --herotext: #2a3777;
  --highlight: #4863a9;
  --circle: #2e2e46;
  --switcher-icon: #000;
>>>>>>> 'commit'
}

[data-theme="dark"] {
  --primary-color: #265397;
  --grey-light: #8b94a6;
  --grey-dark: #c1c1c1;
  --shadow-text: #ffffff2b;
<<<<<<< HEAD
  --light-black: #b6b8bc;
=======
  --light-black: #e4e7ec;
>>>>>>> 'commit'
  --easing: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --scrolltop: #213458;
  --white: #fff;
  --black: #fff;
<<<<<<< HEAD
  --navbar: #1a2c3b;
  --skill: #1d2e3c;
  --hero: #111d27;
  --about: #192834;
  --project: #192834;
=======
  --navbar: #091e38;
  --skill: #071424;
  --hero: #071424;
  --about: #071424;
  --project: #071424;
  --herotext: #fff;
  --highlight: #5e87ee;
  --circle: #fff;
  --switcher-icon: #fff;
>>>>>>> 'commit'
}

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.test {
  position: fixed;
}
.scrollbar-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
}
.test {
  font-size: 5rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
p {
  color: var(--black);
}
.section-padding {
  padding: 10rem 0;
}
::selection {
  background-color: #288de3b8;
  color: #fff;
}
.react-pdf__Page__svg {
  margin: 0 auto;
}

.switcher {
  height: 2.5rem;
  width: 5rem;
  border-radius: 999px;
  position: relative;
  /* border: 3px solid #798ca06b; */
  transition: 350ms all;
  box-shadow: 0 0 0 0.3rem rgba(121, 140, 160, 0.42);
}

.switcher::before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  top: 50%;
  left: 0.4rem;
  transform: translateY(-50%);
  background: #aabbc2;
  border-radius: 50%;
  transition: 350ms all;
}
.switcher.active {
  background: #2e5287;
}
.switcher.active::before {
<<<<<<< HEAD
  /* content: "";
  position: absolute;
  height: 2.2rem;
  width: 2.2rem; */
  transform: translateY(-50%) translateX(2rem);
  background: #2e2e46;
  /* border-radius: 50%;
  transition: 350ms all; */
=======
  transform: translateY(-50%) translateX(2rem);
  background: var(--circle);
>>>>>>> 'commit'
}
